/* Style for "CLIP" */
width: 489px;
height: 291px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-transform: uppercase;
/* Text style for "CLIP" */
color: #50ade5;
font-family: "Exo 2";
font-size: 242px;
font-weight: bold;
font-style: normal;
letter-spacing: normal;
line-height: normal;

/* Style for "SYMPHONY" */
width: 1263px;
height: 292px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-transform: uppercase;
/* Text style for "SYMPHONY" */
color: #37ac8b;
font-family: "Exo 2";
font-size: 243px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;