/* Icon Paths Styles are Ordered from UP to Down, and from Left to Right */
/* Check Paths-Order.png */

/* Style for "<Path 1>" */
width: 30px;
height: 30px;
background-color: #50ade5;

/* Style for "<Path 2>" */
width: 95px;
height: 94px;
background-color: #6ec730;

/* Style for "<Path 3>" */
width: 48px;
height: 49px;
background-color: #37ac8b;

/* Style for "<Path 4>" */
width: 45px;
height: 45px;
background-color: #50ade5;

/* Style for "<Path 5>" */
width: 44px;
height: 45px;
background-color: #50ade5;

/* Style for "<Path 6>" */
width: 34px;
height: 33px;
background-color: #50ade5;

/* Style for "<Path 7>" */
width: 166px;
height: 196px;
background-color: #37ac8b;

/* Style for "<Path 8>" */
width: 145px;
height: 100px;
background-color: #50ade5;

/* Style for "<Path 9>" */
width: 24px;
height: 23px;
background-color: #50ade5;

/* Style for "<Path 10>" */
width: 77px;
height: 77px;
background-color: #6ec730;

/* Style for "<Path 11>" */
width: 46px;
height: 46px;
background-color: #50ade5;

/* Style for "<Path 12>" */
width: 56px;
height: 56px;
background-color: #37ac8b;

/* Style for "<Path 13>" */
width: 70px;
height: 70px;
background-color: #50ade5;

/* Style for "<Path 14>" */
width: 34px;
height: 34px;
background-color: #50ade5;

/* Style for "<Path 15>" */
width: 87px;
height: 87px;
background-color: #6ec730;

/* Style for "<Path 16>" */
width: 250px;
height: 223px;
background-color: #50ade5;

/* Style for "<Path 17>" */
width: 48px;
height: 48px;
background-color: #6ec730;

/* Style for "<Path 18>" */
width: 85px;
height: 85px;
background-color: #6ec730;

/* Style for "<Path 19>" */
width: 70px;
height: 70px;
background-color: #37ac8b;

/* Style for "<Path 20>" */
width: 130px;
height: 130px;
background-color: #37ac8b;

/* Style for "<Path 21>" */
width: 43px;
height: 43px;
background-color: #50ade5;

/* Style for "<Path 22>" */
width: 70px;
height: 70px;
background-color: #6ec730;

/* Style for "<Path 23>" */
width: 46px;
height: 46px;
background-color: #37ac8b;

/* Style for "<Path 24>" */
width: 24px;
height: 24px;
background-color: #6ec730;

/* Style for "<Path 25>" */
width: 85px;
height: 84px;
background-color: #50ade5;

/* Style for "<Path 26>" */
width: 70px;
height: 70px;
background-color: #37ac8b;

/* Style for "<Path 27>" */
width: 70px;
height: 70px;
background-color: #50ade5;
